<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="DubboStackOverflowDueToJkd8InstantProvider"/>


    <dubbo:protocol name="dubbo" serialization="hessian2"/>

    <!--支持Instant的序列化方式。fastjson序列化需要fastjson依赖-->
    <!--<dubbo:protocol serialization="java"/>-->
    <!--<dubbo:protocol serialization="compactedjava"/>-->
    <!--<dubbo:protocol serialization="nativejava"/>-->
    <!--<dubbo:protocol serialization="json"/>-->
    <!--<dubbo:protocol serialization="fastjson"/>-->


    <dubbo:service ref="demoService" registry="N/A" interface="cn.dingyufan.blog.demo.dubbostackoverflowduetojkd8instantprovider.api.DemoService"/>

</beans>